.Label {
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
}

.Login-SignIn-Color {
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
}

.HomePage {
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
}

.backbtn {
    -fx-font-weight: bold;
}

.Label2 {
    -fx-font-family: "Inter";
}

